<header class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="index.html"><img src="/assets/Logo FavourMedic.png" alt="Logo"></a>
            </div>
            <nav class="main-nav">
                <ul>
                    <!-- <li><a href="index.html">Beranda</a></li>
                    <li><a href="#">Profil</a></li> -->
                    <li><a href="/html/signin.html" class="login-button">Masuk</a></li>
                </ul>
            </nav>
        </div>
    </header>